body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 375px;
    height: 812px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.navbar {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1030; 
}

.navbar .navbar-nav .nav-link {
    text-decoration: none;
    color: #333; 
}

.list-group-item {
    background-color: #f8f9fa; 
    border: none; 
    cursor: pointer; 
    border-bottom: 1px solid #ddd;
}

.navbar .navbar-nav .nav-link,
.list-group-item a {
    color: inherit; 
    text-decoration: none; 
}

.navbar .navbar-nav .nav-link:hover,
.list-group-item a:hover {
    color: rgb(72, 88, 235); 
    text-decoration: none; 
}


#sidebar {
    display: none;
    z-index: 1020; 
}

.close-sidebar {
    font-size: 24px;
}

.image-section {
    background: var(--Main-Colors-Secondary, #F6F8FE);
    height: 450px;
    width: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-section img {
    width: 90%;
    max-width: 300px;
    border-radius: 15px;
    margin-bottom: -70px;
}
.text-section {
    background: var(--Additional-Colors-White, #FEFEFE);
    padding: 2rem;
    height: 375px;
    text-align: center;
    width: 375px;
}
.card-title {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.12px;
}
.card-text {
    color: #78828A;
    margin-bottom: 2rem;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.07px;
}
.btn-skip, .btn-next {
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-next {
    background-color: #1065c0;
    color: white;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.pagination .page-item .page-link {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 0;
    background-color: #c4cacf;
}
.pagination .page-item.active .page-link {
    background-color: #007bff;
    color: white;
    width: 20px;
    border-radius: 10px;
}
.footer {
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}